/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
        font-family: "Coleen";
        src: font-url('coleen.ttf') format("truetype");
}

.side-menu {
  width: 120px;
  position: fixed;
  left: -120px;
  background: #000000;
  text-align: center;
}

.side-menu {
  ul {
  list-style: none;
  padding: 0px;
  }
  li a, a:hover {
  font-family: Coleen;
  color: #ffffff;
  font-size: 25px;
  text-decoration:none;
  }
}

.top-cups {
  background-image: url('cups_horizontal.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 930px;
  width: 100%;
  border-bottom: solid 5px;
}

.icon-menu {
  position:fixed;
  padding: 70px 0px 0px 50px;
  color: #ffffff;
  font-family: 'Coleen';
  font-size: 50px;
  cursor: pointer;
}

.line {
  padding: 100px 0px 0px 5px;
}

.hide-menu {
  text-align: center;
  font-size: 25px;
  margin: 30px 0px 20px 0px;
  color: #ffffff;
}

.beers {
  border-top: solid 25px0px;
  color: black;
}