.row.content-header
  %h1
    .col-md-2
      = image_tag "menu/shops.png", size: '100x100'
    .col-md-8.text-center#shops
      SHOPS
    .col-md-2
      = image_tag "menu/shops.png", size: '100x100'